*{margin:0; padding: 0; font-family: 'Zen Dots', cursive;} 

header{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(to left,#fff 87%, #c3f5ff 13%);
}

.navsection{
    
    width: 100%; height: 20vh ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-image: linear-gradient(to top,#fff 80%, #c3f5ff 20%);
}

.logo{
    width: 40%;
    color: white;
    background-image: linear-gradient(#8d98e3 40%, #854fee 60%);
    padding-left: 100px;    
    box-sizing: border-box;
    
}
.logo h1{   
    text-transform: uppercase;
    font-size: 1.6rem;
    animation:add_shaking 3s linear 1s infinite running;
    animation-direction: alternate;
}

@keyframes add_shaking{
    from{padding-left: 40px;}
    to{padding-right: 40px;}
   
}




nav{
    width: 60%;    
    display: flex;
    justify-content: space-around;
}

nav a{
    
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
    font-weight: 900;
    font-size: 17px;   
    position: relative;
}

nav a:first-child{
    color:#4458dc;
}
nav a:before{
    content: " ";
    position:absolute;   
    top: 110%;
    left: 0;
    width: 0;
    height: 0;
    border-bottom: 2px solid #4458dc;
    transition: all 0.4s linear;
}

nav a:hover:before{   
    width: 100%;
}



/* Main tag */
main{    
    height: 80vh;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
/*right side */
.rightside{    
    border-radius:30% 70% 70% 30% / 30% 30% 70% 70%;
    background-color: #c3f5ff;
    margin-right: 20px;  
    }

.rightside svg{
    max-width: 700px;
    height: auto;
     
}  

/*  leftside */
.leftside{
    color: #000;
    text-transform: uppercase;
}
.leftside h3{
    font-size: 37px;
    margin-bottom:20px;
    /* Note, we are giving position relative so that we can give absolute position below */
    position: relative;
}

.leftside h3:after{
    content:"";
    width:450px;
    height:3px;
    /* we can use absolute because we have given relative position above */
    position:absolute;
    top:56%;
    left:18%;
    /* so there are two ways to give bottom radius */
    border-bottom: 3px solid #000;
    background:#c3f5ff;
}

.leftside h1{
    margin-top: 20px;
    font-size: 58px;
    margin-bottom: 25px;
}

.leftside h2{
    margin-bottom: 35px;
    font-weight: lighter;
    word-spacing: 5px;
}
.leftside .btn1, .btn2{
    text-decoration: none;
    font-weight: 900;
    font-size: 14px;
    text-align: center;
    padding: 12px 25px;
    cursor: pointer;
    text-transform: uppercase;
    border-radius: 5px;
    display: inline-block;
    margin-right: 50px;
    /* word-spacing:2px; */
    letter-spacing: 3px;
}

.leftside .btn1{    
    color: #fff;    
    /* very important */
    background-image: linear-gradient(to right, #4458dc 0%,#854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    /*because of below line a purple color in right of button will appear.*/
    border: double 2px transparent;
    box-shadow: 0px 10px 30px rgba(118,85,225,.3);
}

.leftside .btn2{
      color: #222;
      background-color:#fff;
      border: 2px solid #4458dc;
      box-shadow: none;
      border-radius: 5px;
}

.leftside .btn2:hover{
    color: #fff;
    background-image: linear-gradient(to right, #4458dc 0%,#854fee 100%), radial-gradient(circle at top left, #4458dc, #854fee);
    border: double 4px transparent;
    box-shadow: 0px 10px 30px rgba(118,85,225,.3);
}

.leftside .btn1:hover{
    color: #222;
    /* we must remove background-image ,so that background-color takes place.   */
    background-image:none;
    background-color:#fff;
    border: 2px solid #4458dc;
    box-shadow: none;
    border-radius: 5px;
}